:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #1e1e1e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Components */
.fileMenu {
  width: 330px;
  background-color: #252526;
  height: 100%;
  padding: 0.3rem;
  border-left: 0.85rem solid #434242;
}
.fileMenuParentItem {
  background-color: #434242;
  padding: 0.3rem;
  border-radius: 5px;
  color: white;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-angle-double-up,
.fa-angle-double-down {
  cursor: pointer;
}

.addButton {
  background: none;
  border: none;
  color: white;
  padding: 2px;
  margin-left: 10px;
}

.addItemContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 1rem 0rem;
}
.editItemContainer {
  display: flex;
  justify-content: space-between;
}
.editItemContainer .inputBox {
  width: 200px;
}
.inputBox {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 5px;
}

.addItemContainer {
  color: white;
}

.buttonContainer button {
  padding: 0.4rem;
  margin-left: 5px;
  font-size: 15px;
}

.editItemContainer button {
  background: none;
  padding: 0.4rem;
  border: none;
}

.explorer {
  color: white;
  font-weight: 200;
  font-size: 1rem;
  background-color: #252526;
  padding: 1rem;
}

.loadingText {
  color: white;
  margin-left: 10px;
}
